<form action="/pet/new" method="post">
  <input type="text" name="name" value="{{ name.value }}" placeholder="name"/> {{ name.msg }}<br/>
  <input type="text" name="breed_id" value="{{ breed.value }}" placeholder="breed"/> {{ breed.msg }}<br/>
  <input type="text" name="birthday" value="{{ birthday.value }}" placeholder="birthday"/> {{ birthday.msg }}<br/>
  <input type="text" name="gender" value="{{ gender.value }}" placeholder="gender"/> {{ gender.msg }}<br/>
  <input type="text" name="vet_id" value="{{ vet.value }}" placeholder="vet"/> {{ vet.msg }}<br/>
  <input type="text" name="spay_neuter" value="{{ spay_neuter.value }}" placeholder="spay_neuter"/> {{ spay_neuter.msg }}<br/>
  <input type="text" name="color" value="{{ color.value }}" placeholder="color"/> {{ color.msg }}<br/>
  <input type="text" name="weight" value="{{ weight.value }}" placeholder="weight"/> {{ weight.msg }}<br/>
  <input type="text" name="microchip_id" value="{{ microchip_id.name }}" placeholder="microchip_id"/> {{ microchip_id.msg }}<br/>
  <input type="submit" value="Submit"/>
</form>