<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Example App - Home</title>
</head>
<body>

    <!-- Uses built-in `if` helper. -->
  {{#if user}}
    <h1>hi {{user.email}}</h1>

    {{#each dog}}
      {{ name }}
      {{ breed }}
      {{ birthday }}
      {{ weight }}
      {{ spay_neuter }}
      {{ microchip_id }}
      {{ color }}
    {{/each}}
  {{else}}
    derp, nope
  {{/if}}

</body>
</html>